* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

/***** TOP NAVIGATION BAR *****/

.topnavbar {
    width: 100%;
    box-shadow: 0 2px 3px -1px grey;
    position: fixed;
    background-color: #fff;
    z-index: 9999;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    padding: 40px 0;
}

.leftpane {
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.logo h3 {
    color: black;
}

.logo img {
    width: 8%;
}

.navbuttons {
    display: flex;
    align-items: left;
    gap: 30px;
    margin-left: -150px;
}

.navbuttons a {
    color: black;
    padding: 5px;
    font-size: small;
    border-radius: 5px;
}

.navbuttons a:hover {
    color: white;
    background-color: rgb(77, 77, 216);
    transition: 0.3s;
    padding: 5px;
    position: relative;
}

.rightpane {
    display: flex;
    gap: 30px;
}

.rightpane a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightpane img {
    width: 15px;
}

.rightpane img:hover {
    background-color: rgb(77, 77, 216);
    transition: 0.3s;
    border-radius: 20px;
}

.rightpane p {
    font-size: small;
    color: black;
}

.rightpane p:hover {
    color: rgb(77, 77, 216);
    transition: 0.3s;
}

.rightpane .download {
    background-color: rgb(77, 77, 216);
    padding: 15px 25px;
    border-radius: 10px;
    border-bottom: rgb(77, 77, 216);
    border-color: rgb(77, 77, 216);
    border-right: rgb(77, 77, 216);
}

.rightpane .download:hover {
    cursor: pointer;
    box-shadow: 0 4px 9px -2px rgb(77, 77, 216);
    transition: 0.5s;
}

.rightpane a {
    color: white;
}

/******* MAIN CONTENT ******/
main {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
}

/****** Hero Content ******/

.herocontent {
    display: flex;
    height: 510px;
}

.herocontent .heroleft {
    width: 60%;
}

.herocontent .text1 {
    width: 100%;
}

.herocontent .text1 h1 {
    font-size: 63px;
}

.herocontent .text1 .space {
    color: white;
}

.herocontent .text2 {
    margin-top: 4%;
}

.herocontent .text2 p {
    font-size: 17px;
    color: rgb(124, 119, 119);
}

.herocontent .text2 .text2low {
    line-height: 40px;
}

.herobottom {
    margin-top: 5%;
    display: flex;
    gap: 30px;
}

.herobottom a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.herobottom img {
    width: 15px;
}

.herobottom img:hover {
    background-color: rgb(77, 77, 216);
    transition: 0.3s;
    border-radius: 20px;
}

.herobottom p {
    font-size: small;
    color: black;
}

.herobottom p:hover {
    color: rgb(77, 77, 216);
}

.herobottom .download {
    background-color: rgb(77, 77, 216);
    padding: 15px 25px;
    border-radius: 10px;
    border-color: rgb(77, 77, 216);
    border-bottom: rgb(77, 77, 216);
    border-right: rgb(77, 77, 216);
}

.herobottom .download:hover {
    cursor: pointer;
    box-shadow: 0 4px 9px -2px rgb(77, 77, 216);
    transition: 0.3s;
}

.herobottom a {
    color: white;
}

.heroright {
    width: 40%;
}

.herocontent .image {
    height: 450px;
    border-radius: 10px;
    padding-left: 60px;
    background-color: rgb(207, 199, 199);
}

.herocontent .heroright .image img {
    height: 500px;
    margin-top: -50px;
}

.herocontent .heroright .financeimg {
    margin-top: -183px;
    margin-left: -60px;
}

.heroright .financeimg img {
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px grey;
    height: 170px;
    width: 260px
}